LDAP_DOMAIN={{ openldap_domain }}
LDAP_BASE_DN={{ openldap_base_dn }}
LDAP_ADMIN_PASSWORD={{ openldap_admin_password }}
LDAP_TLS={{ openldap_tls }}
LDAP_REMOVE_CONFIG_AFTER_SETUP={{ openldap_remove_config_after_setup }}