client {
    enabled = true
    servers = ["{{ cluster_node_ips[:nomad_servers_count] | map('regex_replace', '(.*)', '\\1:4647')  | list | join ('\",\"') }}"]
    network_interface = "eth1"
}
plugin "docker" {
  config {
    gc {
      dangling_containers {
        enabled = false
      }
    } 
  }
}