server {
    enabled = true
    bootstrap_expect = {{ cluster_servers_count }}
    server_join {
        retry_join = ["{{ cluster_server_ips | list | join ('\",\"') }}"]
        retry_max = 3
        retry_interval = "15s"
    }
}